
body
{
margin:0px;
padding:0px;
font-family: sans-serif;
background-color: #7EF79E;
box-sizing: border-box;
}

body *{

  box-sizing: border-box;
}
.navigation{
	width: 100%;
	height: 80px;
	background-color: black;
}
.logo{
	margin: 10px 10px;
	width: 60px;
	height: 60px;
	padding: 10px;
	display: inline-block;
	
}
.logo img{
	width: 100%;
	height: 100%;
}
.reg{
	display: inline-block;
	float: right;
	margin-top: 25px;
	margin-right: 20px;
	
}
.reg li{
	display: inline-block;
	margin: 5px;
	top: 50%;
	bottom: 50%;
	list-style: none;
	
}
.reg a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: sans-serif;
}
.backg{
	width: 100%;
	height: 480px;
	background:url(landscape-nature-sky-236047.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}
section.backg{
	position: relative;
}
.content{
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	max-width: 640px;
	margin: auto;
	transform: translate(0,-50%);
	
}
.content h1{
	font-size: 32px;
	color: #03094D;
	width: 100%;
	text-align: center;
	float: left;
	margin: 0 0 20px 0;
	

}
.content p{
	font-size: 18px;
	text-align: center;
	color: #03094D;
	width: 100%;
	float: left;
	margin: 0 0 20px 0;
	
}
.button{
	
	float:left;
	background:white;
	border:1px solid white;
	font-size:14px;
	padding:6px 20px;
	border-radius:10px;
	width:auto;
	margin-left:45%;
}









section.section-block{
  width:100%;
  background-color:#f2f2f2;
  float:left;
  padding:80px 0;
}

.container{
max-width:1170px;
margin:0 auto;
width:100%;
}

.container h2,.container p{
  text-align: center;
  margin-bottom:30px;
}

.block{

  width:auto;
  width: 1170px;
  margin-left:-15px;
  margin-right:-15px;
}

.block .block-list{
  
  float:left;
  width: 33.3%;
  text-align:center;
  padding:0 15px;
}

.block .block-list span.icons-section{
  width:60px;
  height:60px;
  border-radius:100%;
  display:inline-block;
  background-color:blue;
  margin:auto;
}

.block .block-list h4{
  width:100%;
  text-align:center;
  margin:10px 0;
  font-size:22px;
  text-transform: uppercase;
}

.block .block-list p {
  font-size:14px;
  margin:0 0 0 10px;
  opacity:0.8;
}

.block .block-list a.anchor-btn{
  display:inline-block;
  background-color:red;
  color:#fff;
  border-radius:50px;
  padding:8px 20px;
  font-size: 12px;
  border:1px red solid;
  text-decoration: none;
  margin-top:10px;
}

.bg{
  float:left;
  width:100%;
  background-color: yellow;
  padding:20px;
}

.contact-us{
  float:left;
  width:100%;
  padding:80px 0;
  text-align:center;
}

.contact-us h2{
  text-align: center;
  margin-bottom:30px;
}

.contact-us .contact-form{
  width:480px;
  margin:0 auto;
  margin-top:-10px;
  margin-bottom:-10px;
}

.contact-us input,.contact-us textarea,.contact-us select{
  width:480px;
  height:48px;
  margin:10px 0;
  padding:10px;
}

.contact-us input[type=submit]{
  width:100px;
  float:none;
}
footer{

	padding: 80px 0 0 0 ;
	width: 100%;
	float: left;
	background-color: black;

}
.bottom{

	width: 1170px;
	margin: 0 auto;

}
footer .bottom .bott_items{

	width: 33.3%;
	text-align: center;
	float: left;
	color: white;
	padding: 0 15px;
	display: inline-block;;
}
#copy{
	width: 100%;
	float: left;;
	text-align: center;
	color: white;
	margin-bottom: 40px;
}

